<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<div class="col-md-3" id=0>
				<img id='testPic' {{bind-attr src="imgUrl"}} class="galleryPic">
			</div>
			<div class="col-md-3" id=1>
				<img id='testPic' {{bind-attr src="imgUrl"}} class="galleryPic">
			</div>
			<div class="col-md-3" id=2>
				<img id='testPic' {{bind-attr src="imgUrl"}} class="galleryPic">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3" id=3>
				<img id='testPic' {{bind-attr src="imgUrl"}} class="galleryPic">
			</div>
			<div class="col-md-3" id=4>
				<img id='testPic' {{bind-attr src="imgUrl"}} class="galleryPic">
			</div>
			<div class="col-md-3" id=5>
				<img id='testPic' {{bind-attr src="imgUrl"}} class="galleryPic">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3" id=6>
				<img id='testPic' {{bind-attr src="imgUrl"}} class="galleryPic">
			</div>
			<div class="col-md-3" id=7>
				<img id='testPic' {{bind-attr src="imgUrl"}} class="galleryPic">
			</div>
			<div class="col-md-3" id=8>
				<img id='testPic' {{bind-attr src="imgUrl"}} class="galleryPic">
			</div>
		</div>
	</div>
</div>