<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<div class="col-md-3 col-md-offset-1" id=0>
				<img id='pic0' {{bind-attr src="imgUrl"}} class="galleryPic">
			</div>
			<div class="col-md-3" id=1>
				<img id='pic1' {{bind-attr src="imgUrl"}} class="galleryPic">
			</div>
			<div class="col-md-3" id=2>
				<img id='pic2' {{bind-attr src="imgUrl"}} class="galleryPic">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-md-offset-1" id=3>
				<img id='pic3' {{bind-attr src="imgUrl"}} class="galleryPic">
			</div>
			<div class="col-md-3" id=4>
				<img id='pic4' {{bind-attr src="imgUrl"}} class="galleryPic">
			</div>
			<div class="col-md-3" id=5>
				<img id='pic5' {{bind-attr src="imgUrl"}} class="galleryPic">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-md-offset-1" id=6>
				<img id='pic6' {{bind-attr src="imgUrl"}} class="galleryPic">
			</div>
			<div class="col-md-3" id=7>
				<img id='pic7' {{bind-attr src="imgUrl"}} class="galleryPic">
			</div>
			<div class="col-md-3" id=8>
				<img id='pic8' {{bind-attr src="imgUrl"}} class="galleryPic">
			</div>
		</div>

		<div class="row" >
			<div class="col-md-9 col-md-offset-1"><span class='btn btn-info btn-block newset' style="margin-left : 30px">Try Another Set</span></div>
		</div>
	</div>
</div>