<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="row">
			<div class='col-md-12 pam-pic-panel'>
				<div class="row">
					<div class='col-md-12'>
						<row>
							<div class='col-md-4 no-padding'>
								<img id='pic0' {{bind-attr src="imgUrl"}} class="galleryPic">
							</div>	

							<div class='col-md-4 no-padding'>
								<img id='pic1' {{bind-attr src="imgUrl"}} class="galleryPic">
							</div>

							<div class='col-md-4 no-padding'>
								<img id='pic2' {{bind-attr src="imgUrl"}} class="galleryPic">
							</div>
						</row>
					</div>
				</div>

				<div class="row">
					<div class='col-md-12'>
						<row>
							<div class='col-md-4 no-padding'>
								<img id='pic3' {{bind-attr src="imgUrl"}} class="galleryPic">
							</div>	

							<div class='col-md-4 no-padding'>
								<img id='pic4' {{bind-attr src="imgUrl"}} class="galleryPic">
							</div>

							<div class='col-md-4 no-padding'>
								<img id='pic5' {{bind-attr src="imgUrl"}} class="galleryPic">
							</div>
						</row>
					</div>
				</div>

				<div class="row">
					<div class='col-md-12'>
						<row>
							<div class='col-md-4 no-padding'>
								<img id='pic6' {{bind-attr src="imgUrl"}} class="galleryPic">
							</div>	

							<div class='col-md-4 no-padding'>
								<img id='pic7' {{bind-attr src="imgUrl"}} class="galleryPic">
							</div>

							<div class='col-md-4 no-padding'>
								<img id='pic8' {{bind-attr src="imgUrl"}} class="galleryPic">
							</div>
						</row>
					</div>
				</div>
			</div>
		</div>

		<div class="row" >
			<div class="col-md-12"><span class='btn btn-success btn-block newset'>Try Another Set</span></div>
		</div>
	</div>
</div>