{{!--
<row>
	<div class="panas-test-panel col-md-6 col-md-offset-3">
		<div class="panel panel-default" align="center" class="overlay">
			<div class='overlay'>
				<img id='testPic' {{bind-attr src="imgUrl"}} class="img-circle test-photos">
			</div>
                  
                  {{tag}}
                  {{view Mood.SliderView}}

                  <div class="button-group">
                  	<row>
                  		<div>
                              {{#unless isFirstPage}}
                  			<button id="preBtn" {{action 'changeTest' '-'}} class="control-btn btn btn-default">
                                          Back
                                    </button>
                              {{/unless}}

                              {{#unless isLastPage}}
                  			<button id="nextBtn" {{action 'changeTest' '+'}} class="control-btn btn btn-default">Next</button>
                              {{else}}
                                    <button id="nextBtn" {{action 'submitResult'}} class="control-btn btn btn-info">Submit</button>
                              {{/unless}}
                              
                              
                  		</div>
                  	</row>
                  </div>
		</div>
            <div class="test-progressbar"> {{view Mood.TestProgressBar}} </div>
	</div>
</row>

--}}

<div class="container">
  <div class="row">
    
    <div class="col-md-7 col-md-offset-1">
      {{view Mood.BrightnessAdjustPanel}}
    </div>
    
    <div class="col-md-3" style="padding-top: 30px;margin-left:-80px">
      <div class="panel panel-default">
        <div class="panel-body">
          <b>Hints:</b>
          <br><br>
          <p> Adjust the slider bar to change the <u>brightness</u> of the photos, until it suits your feeling. </p>
          <br>
          
          <p>There are total <b>10</b> questions your need to finish. The progress bar <u>at bottom</u> indicates how many questions are left.
          </p>
          
          <p>
            As long as you <u>do not submit</u> the result, you can go back to previous options to change your decision.
          </p>
        </div>
      </div>
    </div>
  
  </div>
</div>


